@font-face {
  font-family: Lato;
  src: url(../../font/Lato/Lato-Regular.ttf);
}
aside nav > div a div, aside .head .link div, aside .head .photo, body {
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  font-family: Lato;
  background-image: url(../../images/bg.jpg);
  background-attachment: fixed;
  overflow-x: hidden;
}

.grid {
  display: grid;
  grid-template-columns: 380px 1fr;
}
.grid main {
  position: relative;
  padding: 3rem;
  background-color: white;
}
.grid aside {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 380px;
  height: 100vh;
}

aside .head {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8vh;
  color: white;
}
aside .head .photo {
  width: 8.5rem;
  height: 8.5rem;
  border: 4px solid white;
  border-radius: 50%;
  filter: drop-shadow(3px 6px 7px rgba(255, 255, 255, 0.38));
  overflow: hidden;
  background-image: url(../../images/photo_2022-07-18_22-30-13.jpg);
  transition: all 1s ease;
}
aside .head .photo:hover {
  border-radius: 10px;
  transform: scale(1.2);
}
aside .head .name {
  font-weight: 600;
  font-size: 2rem;
  margin-top: 1.5rem;
}
aside .head .spec {
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-top: 0.5rem;
}
aside .head .link {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 95px;
  background-color: rgb(144, 180, 206);
}
aside .head .link div {
  width: 2rem;
  height: 2rem;
}
aside .head .link .linkedin {
  background-image: url(../../icons/LinkedIn.svg);
}
aside .head .link .github {
  background-image: url(../../icons/GitHub.svg);
}
aside nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
aside nav > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 4rem;
  gap: 0.5rem;
}
aside nav > div > div span {
  opacity: 0;
  position: relative;
  top: -0.5rem;
  padding: 0.25rem 1rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  background-color: rgba(9, 64, 103, 0.5);
  border-radius: 8px;
  color: white;
  transition: opacity 0.5s;
}
aside nav > div:hover span {
  opacity: 1;
}
aside nav > div a {
  width: 3rem;
  padding: 0.5rem;
  background-color: rgb(61, 169, 252);
  border-radius: 50%;
  transition: background-color 0.5s ease-out;
}
aside nav > div a div {
  width: 2rem;
  height: 2rem;
}
aside nav > div a:hover {
  background-color: rgb(9, 64, 103);
}
aside nav .home {
  background-image: url(../../icons/Home.svg);
}
aside nav .education {
  background-image: url(../../icons/Education.svg);
}
aside nav .portfolio {
  background-image: url(../../icons/Portfolio.svg);
}
aside nav .blog {
  background-image: url(../../icons/Blog.svg);
}
aside nav .contacts {
  background-image: url(../../icons/Contacts.svg);
}
aside #touch {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
  padding: 1rem 2.25rem;
  border: 3px solid white;
  border-radius: 8px;
  color: white;
  transition: all 0.5s;
}
aside #touch:hover {
  background-color: white;
  color: black;
}

@media (max-width: 1200px) {
  html {
    font-size: 14px;
  }
  .grid {
    grid-template-columns: 340px 1fr;
  }
  .grid aside {
    width: 340px;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .grid {
    grid-template-columns: 200px 1fr;
  }
  .grid aside {
    width: 200px;
  }
  .grid aside nav {
    flex-wrap: wrap;
  }
  .grid aside nav > div {
    width: 30%;
  }
}
@media (max-width: 600px) {
  .grid {
    display: flex;
    flex-direction: column;
  }
  .grid aside {
    position: relative;
    height: auto;
    width: 100%;
    gap: 2rem;
  }
  .grid aside .head {
    margin-top: 2rem;
  }
  .grid aside nav {
    margin-left: 0;
    flex-direction: row;
  }
  .grid aside nav span {
    top: -0.5rem;
    left: 0;
  }
  .grid aside #touch {
    margin-bottom: 1rem;
  }
}/*# sourceMappingURL=sidebar.css.map */