@font-face {
    font-family: Lato;
    src: url(../../font/Lato/Lato-Regular.ttf);
}

// bgrepeat + bgsize
%bgimg {
    background-repeat: no-repeat;
    background-size: cover;
}
// ====================================
body {
    font-family: Lato;
    background-image: url(../../images/bg.jpg);
    background-attachment: fixed;
    @extend %bgimg;
    overflow-x: hidden;
}
// Разделение страницы на sidebar и main
.grid {
    display: grid;
    grid-template-columns: 380px 1fr;

    main {
        position: relative;
        padding: 3rem;
        background-color: white;
    }

    aside {
        display: flex;
        flex-direction: column;
        gap: 5vh;
        position: sticky;
        top: 0;
        width: 380px;
        height: 100vh;
    }
}
// ====================================
aside {
    .head {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 8vh;
        color: white;

        .photo {
            width: 8.5rem;
            height: 8.5rem;
            border: 4px solid white;
            border-radius: 50%;
            filter: drop-shadow(3px 6px 7px rgba(255, 255, 255, 0.38));
            overflow: hidden;
            background-image: url(../../images/photo_2022-07-18_22-30-13.jpg);
            @extend %bgimg;
            transition: all 1s ease;
            

            &:hover {
                border-radius: 10px;
                transform: scale(1.2);
            }
        }

        .name {
            font-weight: 600;
            font-size: 2rem;
            margin-top: 1.5rem;
        }

        .spec {
            font-size: 1.25rem;
            line-height: 1.5rem;
            margin-top: 0.5rem;
        }

        .link {
            display: flex;
            gap: 10px;
            justify-content: center;
            align-items: center;
            margin-top: 2rem;
            padding: 0.5rem 1rem;
            border-radius: 95px;
            background-color: rgb(144,180,206);

            div {
                width: 2rem;
                height: 2rem;
                @extend %bgimg;
            }

            .linkedin {
                background-image: url(../../icons/LinkedIn.svg);
            }

            .github {
                background-image: url(../../icons/GitHub.svg);
            }
        }
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

        > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 4rem;
            gap: 0.5rem;

            > div {
              
                span {
                    opacity: 0;
                    position: relative;
                    top: -0.5rem;
                    padding: 0.25rem 1rem;
                    text-transform: uppercase;
                    font-size: 0.75rem;
                    background-color: rgba(9,64,103, 0.5);
                    border-radius: 8px;
                    color: white;
                    transition: opacity 0.5s;
                }

                
            }

            &:hover span {
                opacity: 1;
            }

            a {
                width: 3rem;
                padding: 0.5rem;
                background-color: rgb(61,169,252);
                border-radius: 50%;
                transition: background-color 0.5s ease-out;

                div {
                    width: 2rem;
                    height: 2rem;
                    @extend %bgimg;
                }
    
                &:hover {
                    background-color: rgb(9,64,103);
                }
            }
        }

        .home {
            background-image: url(../../icons/Home.svg);
        }

        .education {
            background-image: url(../../icons/Education.svg);
        }

        .portfolio {
            background-image: url(../../icons/Portfolio.svg);
        }

        .blog {
            background-image: url(../../icons/Blog.svg);
        }

        .contacts {
            background-image: url(../../icons/Contacts.svg);
        }
    }

    #touch {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 1.5rem;
        padding: 1rem 2.25rem;
        border: 3px solid white;
        border-radius: 8px;
        color: white;
        transition: all 0.5s;

        &:hover {
            background-color: white;
            color: black;
        }
    }
}

// ===========================

@media (max-width: 1200px) {
    html {
    font-size: 14px;
  }

  .grid {
    grid-template-columns: 340px 1fr;

    aside {
      width: 340px;
    }
  }
}

@media (min-width: 601px) and (max-width: 900px) {
    .grid {
      grid-template-columns: 200px 1fr;
  
      aside {
        width: 200px;
        nav {
          flex-wrap: wrap;
          
          > div {
            width: 30%;
          }
        }
      }
    }
}

@media (max-width: 600px) {
    .grid {
        display: flex;
        flex-direction: column;

        aside {
          position: relative;
          height: auto;
          width: 100%;
          gap: 2rem;
    
          .head {
            margin-top: 2rem;
          }
          nav {
            margin-left: 0;
            flex-direction: row;
    
            span {
              top: -0.5rem;
              left: 0;
            }
          }
          
          #touch {
            margin-bottom: 1rem;
          }
        }
      }
}